# Peer-graded Assignment

This is an introduction to my peer-graded assignment.

There is a vast array of different languages that you can use in data science, some of those languages include:
- Python
- R
- Java

There are also many libraries that are used alongside these languages for example :
- Pytorch
- TensorFlow
- ggplot2

<table>
    <tr>
        <th></th>
        <th>Data science tools</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Jupyter Notebooks</td>
    </tr>
    <tr>
        <td>2</td>
        <td>IBM Watson</td>
    </tr>
    <tr>
        <td>3</td>
        <td>VS Code</td>
    </tr>
</table>

# Arithmetic Expressions
In the following cells i will be giving some examples of different types of arithmetic expressions.

In [41]:
def multiply(a, b):
    return a * b;

def add(a, b):
    return a + b;

print(add(5, 2));
print(multiply(5, 2));

7
10

In [37]:
def getMinutes(hours):
    return hours * 60;

print(getMinutes(6))

360

The objectives of this notebook are to display:
- my ability to create markdowns and code cells.
- my knowledge on data science languages, libraries and tools.
- my ability to use code cells with python effectively

Author: Benjamin Watt